body {
  background-image: url(../images/light-grey-terrazzo.png);
}

footer {
  background-color: #393e46;
  color: whitesmoke;
  padding: 20px 10px;
  text-align: center;
  margin-top: 20px;
  border-top: 5px solid #4aaaa5;
}

.container {
  background-color: #f2f2f2;
}

.navbar {
  margin-bottom: 15px;
  border-bottom: 3px solid #cccccc;
  background-color: #eeeeee;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-link {
  color: #222831;
  color: whitesmoke;
}

.navbar .navbar-brand {
  margin-left: 20%;
  background-color: #4aaaa5;
  color: whitesmoke;
  padding: 15px 15px;
}

.card {
  position: relative;
  width: auto;
  border: 2px solid rosybrown;
  margin-bottom: 20px;
}

.portfolio-title {
  background-color: #4aaaa5;
  position: absolute;
  bottom: 10px;
  width: 100%;
}