

body {
  background-image: url(../images/light-grey-terrazzo.png);
}

footer {
  background-color:#222831;
  color: whitesmoke;
  padding: 20px 10px;
  text-align: center;
  margin-top: 10px;
}

.container {
  background-color: whitesmoke;
}

.navbar-brand {
  margin-left: 50px;
}