

body {
  background-image: url(../images/light-grey-terrazzo.png);
}

footer {
  background-color:#222831;
  color: whitesmoke;
  padding: 20px 10px;
  text-align: center;
  margin-top: 20px;
  border-top: 5px solid #4aaaa5;
}

.container {
  background-color: whitesmoke;
}

.navbar {
  margin-bottom: 15px;
  border-bottom: 3px solid #cccccc;
  background-color: whitesmoke;
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-link {
  color: #222831;
}

.navbar-brand {
  margin-left: 50px;
  background-color: #4aaaa5;
  color: whitesmoke;
  padding: 15px 15px;
}

#my-name {
  color: whitesmoke;
}

#main-img {
  border: 2px solid red;
}
